@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex(
  $direction: null,
  $wrap: null,
  $justify: null,
  $align: null,
  $gap: null
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}
@mixin grid($column: null, $rows: null, $gap: null) {
  display: grid;
  grid-template-columns: $column;
  grid-template-rows: $rows;
  gap: $gap;
}
@mixin textFormat(
  $fontSize: null,
  $color: null,
  $transform: null,
  $cursor: null
) {
  font-size: $fontSize;
  color: $color;
  text-transform: $transform;
  cursor: $cursor;
}

@mixin position(
  $postion,
  $top: null,
  $right: null,
  $left: null,
  $bottom: null
) {
  position: $postion;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

@mixin breakpoint($mode) {
  @if ($mode== "phone-size") {
    @media screen and (max-width: 576px) {
      @content;
    }
  } @else if($mode== "tablet-size") {
    @media screen and (max-width: 768px) {
      @content;
    }
  } @else if($mode== "large-phone") {
    @media screen and (max-width: 990px) {
      @content;
    }
  }
}
