@import "mixins";
@import "variables";

//max-width:576
@include breakpoint("phone-size") {
  #modalContainer {
    width: 90%;
  }
  .banner {
    .banner-text .type-writer-text {
      font-size: 34px !important;
    }
  }

  nav {
    .logo {
      width: 60px;
    }
    .follow-text {
      display: none;
    }
  }

  .section-header .section-title {
    font-size: 34px;
  }

  .gallery-pictures-wrapper,
  .resume-card {
    grid-template-columns: auto !important;
  }

  .client-slide {
    flex-direction: column-reverse;
    .text-part {
      width: 100%;
    }
  }

  .gallery-pictures-wrapper {
    gap: 0;
  }
  .resume-tabpane-list .resume-tabpane-list-item {
    min-width: unset;
  }
  form {
    grid-template-columns: auto;
    .message-textarea {
      grid-column: unset;
    }
  }
}
//max-width:768px
@include breakpoint("tablet-size") {
  .container-news-part .row-news {
    grid-template-columns: auto;
    gap: 10px;
    .news-item {
      flex-direction: column;
      gap: 0;
      .news-information {
        margin-bottom: 0;
      }
    }
  }

  .personal-info-section {
    .row {
      flex-direction: column;
      .information-list,
      .abilities {
        width: 100%;
      }
    }
  }

  .news-item .image-part,
  .news-item .text-part {
    width: 100%;
  }
  .news-publish-date {
    position: unset;
    transform: unset;
  }
  .news-item .text-part {
    grid-template-rows: unset;
  }
}
//max-width:990px
@include breakpoint("large-phone") {
  .banner {
    background: url(/images/banner-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    justify-items: start;
    grid-template-columns: unset;
    .banner-image {
      grid-column: 1;
      display: none;
    }
  }
  .banner .row {
    grid-column: 1;
    margin-left: 10px;
  }
  .banner-text .type-writer-text {
    font-size: 40px;
  }

  .aboutMe-section {
    .row {
      flex-direction: column;
      .text-part,
      .image-part {
        width: 100%;
        text-align: center;
      }
    }
  }
  .personal-info-section .row {
    justify-content: center;
  }
  .resume-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .client-image {
    &::after,
    &::before {
      content: unset;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}
