* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

/* ---------------------------------
                                                                                                                                                                                                                   start header section
                                                                                                                                                                                                                  -----------------------------------*/
header {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 31px 0;
}

header.sticky {
  background-color: #ffff;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-box-shadow: 12px 2px 19px #7a7a7a;
          box-shadow: 12px 2px 19px #7a7a7a;
}

header.sticky nav {
  padding: 11px 0;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 8px;
}

header ul h3 {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  text-transform: capitalize;
}

header ul h3:first-child {
  padding-right: 10px;
}

header ul li {
  padding: 0 16px;
  position: relative;
}

li a {
  color: #000;
}

li a i {
  font-size: 0.89rem;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

li a .fa.fa-dribbble {
  font-weight: 600;
}

li a:hover i {
  color: #ffa700;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/* ---------------------------------
                                                                                                                                                                                                                  sideBar section
                                                                                                                                                                                                                 -----------------------------------*/
.side-bar {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: none;
  right: 0;
  background-color: #fff;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  overflow-x: hidden;
  z-index: 3;
  -webkit-box-shadow: -13px 0 41px #beb9b9;
          box-shadow: -13px 0 41px #beb9b9;
}

.side-bar .closebtn {
  font-size: 2rem;
  font-weight: 500;
  color: #000;
  text-transform: none;
  position: absolute;
  top: 0;
  left: 12px;
  right: none;
}

.side-bar .logo {
  margin-top: 2rem;
}

.side-bar a {
  display: block;
  padding: 17px 0px 11px;
  text-decoration: none;
  color: #000;
  text-align: center;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.open-menu {
  font-size: 24px;
  cursor: pointer;
}

.dropdown-container {
  display: none;
}

.dropdown-container .drop-item {
  font-size: 0.79rem;
  font-weight: 400;
  color: gray;
  text-transform: capitalize;
  padding: 0 0 7px;
}

.dropdown-container.active {
  display: block;
}

/* ---------------------------------
                                                                                                                                                                                                                  finish header section
                                                                                                                                                                                                                    -----------------------------------*/
/* ---------------------------------
                                                                                                                                                                                                                  start banner section
                                                                                                                                                                                                                    ----------------------------------*/
.container .banner {
  background-image: url(../images/banner-1.jpg);
  position: relative;
  padding-bottom: 630px;
  width: 100%;
  height: 100%;
  background-position: center;
  overflow-x: hidden;
}

.container .banner .row {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(10%, 273%);
          transform: translate(10%, 273%);
}

.banner-text h3 {
  font-size: 3rem;
  font-weight: 600;
  color: #000;
  text-transform: normal;
}

.banner-text h3:first-child {
  text-transform: capitalize;
}

.banner-text h3 span {
  text-transform: uppercase;
  color: #000;
}

.banner-text .sub-main-text {
  font-size: 0.875rem;
  font-weight: 200;
  color: #454545;
  text-transform: capitalize;
}

/* ---------------------------------
                                                                                                                                                                                                                     Finish banner section
                                                                                                                                                                                                                -----------------------------------*/
/* ---------------------------------
                                                                                                                                                                                                                    start information part
                                                                                                                                                                                                                  -----------------------------------*/
.container-information {
  padding: 7rem 0 4rem 0;
}

.container-information .header-part {
  text-align: center;
  line-height: 1.2;
  padding-bottom: 4rem;
}

.container-information .header-part h4 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #030303;
  text-transform: capitalize;
  font-style: italic;
}

.container-information .header-part span {
  font-size: 0.875rem;
  font-weight: 200;
  color: #988181;
  text-transform: capitalize;
}

.container-information {
  max-width: 1300px;
  margin: 0 auto;
}

.container-information .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-information .row .image-part {
  width: 43%;
  position: relative;
  text-align: center;
}

.container-information .row .image-part img {
  width: 80%;
  background: #f4f4f4;
  border-radius: 50%;
  padding: 0 3rem;
}

.text-part {
  width: 50%;
}

.text-part .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.text-part .text-container i {
  font-size: 2.5rem;
  color: #f4f4f4;
  position: absolute;
  top: -13px;
  left: -7px;
  right: 0;
}

.text-information {
  margin: 0 0 0 2.5rem;
}

.text-information blockquote {
  font-size: 0.875rem;
  font-weight: normal;
  color: #434343;
  text-transform: initial;
  line-height: 1.5;
}

.text-information .signature {
  padding: 2rem 0 3rem;
}

/* ---------------------------------
                                                                                                                                                                                                                 start slider part changes
                                                                                                                                                                                                                -----------------------------------*/
.sliderLogo .item {
  width: 190px;
}

.sliderLogo .owl-nav {
  position: relative;
}

.sliderLogo .owl-nav .owl-prev {
  position: absolute;
  top: -62px;
  left: -27px;
  right: none;
}

.sliderLogo .owl-nav .owl-prev span {
  font-size: 3rem;
}

.sliderLogo .owl-nav .owl-next {
  position: absolute;
  top: -62px;
  left: none;
  right: -12px;
}

.sliderLogo .owl-nav .owl-next span {
  font-size: 3rem;
}

/* ---------------------------------
                                                                                                                                                                                                                    Finish slider part changes
                                                                                                                                                                                                                -----------------------------------*/
/* ---------------------------------
                                                                                                                                                                                                                     start personal information
                                                                                                                                                                                                                  -----------------------------------*/
.container-personal {
  padding-bottom: 8rem;
  max-width: 1100px;
  margin: 0 auto;
}

.container-personal .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.container-personal .row .information-part {
  width: 50%;
}

.container-personal .row .information-part p {
  padding: 1.3rem 0;
  font-size: 1rem;
  font-weight: normal;
  color: #ffa700;
  text-transform: capitalize;
  font-style: italic;
}

.container-personal .row .information-part p:first-child {
  padding: 2rem 0 1.3rem 0;
}

.container-personal .row .information-part p span {
  color: #000;
}

.abilities {
  width: 44%;
}

.abilities .line-1,
.abilities .line-2,
.abilities .line-3,
.abilities .line-4 {
  width: 490px;
  height: 8px;
  background-color: #e8e8e8;
  position: relative;
  margin: 1rem 0 4rem 0;
}

.abilities .info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.abilities .line-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 75%;
  height: 100%;
  background-color: #ffa700;
}

.abilities .line-2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 85%;
  height: 100%;
  background-color: #ffa700;
}

.abilities .line-3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: 100%;
  background-color: #ffa700;
}

.abilities .line-4::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 65%;
  height: 100%;
  background-color: #ffa700;
}

.download-button .btn-download {
  background: #ffa700;
  padding: 0.875rem 2.4rem;
  border-radius: 44px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: normal;
  color: #ffff;
  text-transform: capitalize;
}

.download-button .btn-download::before {
  content: "";
  position: absolute;
  top: -55px;
  left: 0;
  right: none;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
}

.download-button .btn-download:hover::before, .download-button .btn-download:focus::before {
  top: 0;
  color: #fff;
}

/* ---------------------------------
                                                                                                                                                                                                                    finish personal information
                                                                                                                                                                                                                  ----------------------------------*/
/* ---------------------------------
                                                                                                                                                                                                                   Finish information part
                                                                                                                                                                                                                 ---------------------------------*/
/* ---------------------------------
                                                                                                                                                                                                                 start  offer section
                                                                                                                                                                                                          ----------------------------------*/
.offer-container {
  background: #f4f4f4;
  padding: 9rem 0 4rem 0;
}

.offer-container .offer-header {
  text-align: center;
  padding-bottom: 3rem;
}

.offer-container .offer-header h1 {
  font-style: italic;
  line-height: 1.5;
  font-size: 3rem;
  font-weight: bold;
  color: #1d1c1c;
  text-transform: capitalize;
}

.offer-container .offer-header span {
  font-size: 0.875rem;
  font-weight: normal;
  color: #a48c8b;
  text-transform: capitalize;
}

@media screen and (max-width: 576.9px) {
  .offer-container .offer-header h1 {
    font-size: 2rem;
  }
}

.offer-container .row-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1150px;
  margin: 0 auto;
}

.offer-container .row-card .owl-stage {
  padding-top: 50px;
}

.row-card .card {
  width: 367px;
  height: 238px;
  background-color: #fff;
}

.row-card .card .card-icon {
  position: relative;
}

.row-card .card .card-icon .icon {
  position: absolute;
  top: -32px;
  left: 43%;
  right: 0;
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.row-card .card .card-icon .icon i {
  margin: 22px 25px;
  font-size: 1.4rem;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.row-card .card .card-icon .icon .fa-wordpress,
.row-card .card .card-icon .icon .fa-code,
.row-card .card .card-icon .icon .fa-user-circle {
  margin: 24px;
}

.row-card .card .card-header h3 {
  padding: 4rem 36px 1rem 2.5rem;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  font-size: 1.1rem;
  font-weight: 600;
  color: #616161;
  text-transform: capitalize;
}

.row-card .card .card-body p {
  line-height: 1.8;
  padding: 0.5rem 45px 0rem 2.5rem;
  font-size: 0.85rem;
  font-weight: normal;
  color: #272727;
  text-transform: capitalize;
}

.card:hover .card-header h3 {
  color: #ffa700;
}

.card:hover .card-icon .icon {
  background-color: #ffa700;
}

.card:hover .card-icon i {
  color: #fff;
}

.row-card .owl-nav {
  margin: 3rem 0;
}

.row-card .owl-nav button.owl-prev,
.row-card .owl-nav button.owl-next {
  margin: 0.25rem;
  width: 27px;
  height: 28px;
  background: #000;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.row-card .owl-nav button.owl-prev:hover,
.row-card .owl-nav button.owl-next:hover {
  background-color: #ffa700;
  color: #000;
}

.row-card .owl-nav button.owl-prev span,
.row-card .owl-nav button.owl-next span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-transform: none;
}

/* ------------------------                                                                                                              start  gallery section
                                                                                                                                                                                                                 -----------------------------------*/
.gallery-container {
  padding: 9rem 0 8rem;
}

.gallery-container .gallery-header {
  text-align: center;
  padding-bottom: 5rem;
}

.gallery-container .gallery-header h1 {
  font-style: italic;
  line-height: 1.5;
  font-size: 3rem;
  font-weight: bold;
  color: #1d1c1c;
  text-transform: capitalize;
}

.gallery-container .gallery-header span {
  font-size: 0.875rem;
  font-weight: normal;
  color: #a48c8b;
  text-transform: capitalize;
}

@media screen and (max-width: 576.9px) {
  .gallery-container .gallery-header h1 {
    font-size: 2rem;
  }
}

.gallery-container {
  max-width: 1140px;
  margin: 0 auto;
}

.gallery-container .row {
  padding: 0 0 20px 0;
}

.gallery-container .row .tabs {
  font-size: 1.2rem;
  font-weight: normal;
  color: #272727;
  text-transform: capitalize;
  font-style: italic;
  padding: 1rem;
  cursor: pointer;
}

.gallery-container .pic.hide {
  display: none;
}

.gallery-container .pic.show {
  display: block;
  -webkit-animation: animate 0.5s ease-in;
          animation: animate 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.gallery-container .tabs.active {
  background: #ffa700;
  padding: 11px;
  border-radius: 5px;
  color: #fff;
}

.gallery-container .view-button {
  text-align: center;
}

.gallery-container .view-button .btn-view {
  text-transform: capitalize;
  background: #ffa700;
  padding: 0.875rem 2.4rem;
  border-radius: 44px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: normal;
  color: #ffff;
  text-transform: capitalize;
}

.gallery-container .view-button .btn-view::before {
  content: "";
  position: absolute;
  top: -55px;
  left: 0;
  right: none;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
}

.gallery-container .view-button .btn-view:hover::before, .gallery-container .view-button .btn-view:focus::before {
  top: 0;
  color: #fff;
}

.gallery-container .view-button .btn-view i {
  margin-left: 5px;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* ---------------------------------
                                                                                                                                                                                                                 start  picture edit 
                                                                                                                                                                                                                -----------------------------------*/
.picture-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.picture-container .pic.graphic {
  display: none;
}

.picture-container .pic {
  margin: 0 0 17px;
  position: relative;
}

.picture-container .pic .up-side {
  position: absolute;
  top: 0;
  left: 0;
  right: none;
  width: 39%;
  height: 45%;
  background-color: #ffa70063;
  opacity: 0;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.picture-container .pic .down-side {
  width: 39%;
  height: 45%;
  position: absolute;
  top: none;
  left: none;
  right: 0;
  bottom: 3px;
  background: #ffa6006b;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  opacity: 0;
  z-index: 1;
}

/* ---------------------------------
                                                                                                                                                                                                                 End  picture edit 
                                                                                                                                                                                                                 -----------------------------------*/
/* ---------------------------------
                                                                                                                                                                                                                 start  picture link Edit 
                                                                                                                                                                                                                -----------------------------------*/
.picture-container .pic {
  position: relative;
}

.picture-container .pic .link-picture {
  position: absolute;
  top: 34%;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  opacity: 0;
}

.picture-container .pic a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: normal;
  color: #fff;
  text-transform: capitalize;
}

.picture-container .pic a i {
  padding-bottom: 10px;
  font-size: 2rem;
}

.picture-container .pic:hover .link-picture {
  top: 40%;
  opacity: 1;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.picture-container #modalContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
  background: #000000bf;
  padding-top: 7rem;
  -webkit-animation: tab 0.5s ease-in;
          animation: tab 0.5s ease-in;
}

.picture-container #modalContainer img {
  border-radius: 15px;
}

.picture-container #modalContainer #exit {
  position: absolute;
  color: #ffff;
  font-size: 1.55rem;
  top: 82px;
  background: #ffa700;
  border-radius: 3px;
  padding: 0 10px;
  margin: 0 3px;
  cursor: pointer;
}

.picture-container .pictures {
  cursor: pointer;
}

/* ---------------------------------
                                                                                                                                                                                                                      End  picture link Edit 
                                                                                                                                                                                                                  -----------------------------------*/
/* ---------------------------------
                                                                                                                                                                                                                   Start  work together 
                                                                                                                                                                                                                -----------------------------------*/
.container-work {
  background-color: #f4f4f4;
}

.container-work .row-work {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding: 7.5rem 0;
}

.container-work .row-work h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #1d1c1c;
  text-transform: capitalize;
  font-style: italic;
  margin: 2rem;
}

.container-work .row-work span {
  font-size: 0.875rem;
  font-weight: normal;
  color: #988181;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-style: italic;
}

.container-work .row-work .hire-button {
  text-transform: capitalize;
  margin: 2rem 0 0rem 0;
  text-align: center;
}

.container-work .row-work .hire-button .btn-hire {
  background: #ffa700;
  padding: 0.875rem 2.4rem;
  border-radius: 44px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: normal;
  color: #ffff;
  text-transform: capitalize;
}

.container-work .row-work .hire-button .btn-hire::before {
  content: "";
  position: absolute;
  top: -55px;
  left: 0;
  right: none;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
}

.container-work .row-work .hire-button .btn-hire:hover::before, .container-work .row-work .hire-button .btn-hire:focus::before {
  top: 0;
  color: #fff;
}

.container-work .row-work .hire-button .btn-hire i {
  margin-left: 5px;
}

/* ---------------------------------
                                                                                                                                                                                                                      end work together 
                                                                                                                                                                                                                 -----------------------------------*/
/* ---------------------------------
                                                                                                                                                                                                                  Start Resume part 
                                                                                                                                                                                                                -----------------------------------*/
.container-resume .container-head {
  padding: 6rem 0 3rem;
}

.container-resume .container-head h1 {
  font-style: italic;
  line-height: 1.5;
  font-size: 3rem;
  font-weight: bold;
  color: #1d1c1c;
  text-transform: capitalize;
}

.container-resume .container-head span {
  font-size: 0.875rem;
  font-weight: normal;
  color: #a48c8b;
  text-transform: capitalize;
}

@media screen and (max-width: 576.9px) {
  .container-resume .container-head h1 {
    font-size: 2rem;
  }
}

/* ---------------------------------
                                                                                                                                                                                                                    Start tab pane buttons
                                                                                                                                                                                                                  -----------------------------------*/
.container-resume {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.container-resume .tabs {
  padding-bottom: 7rem;
}

.container-resume .tabs .tab.left {
  background: #e6e3e3bf;
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0 0;
  padding: 18px 42px;
}

.container-resume .tabs .tab.right {
  background: #e6e3e3bf;
  padding: 18px 42px;
  border-radius: 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.container-resume .tabs .tab.active {
  background-color: #ffa700;
  color: #fff;
}

.container-resume .tabs a {
  cursor: pointer;
}

.container-resume [data-tab-content] {
  display: none;
}

.container-resume .active[data-tab-content] {
  display: block;
  -webkit-animation: tab 0.5s ease-in;
          animation: tab 0.5s ease-in;
}

@-webkit-keyframes tab {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes tab {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ---------------------------------
                                                                                                                                                                                                                     End tab pane buttons
                                                                                                                                                                                                                   -----------------------------------*/
/* ---------------------------------                                                                                                                                                                                               
                                                                                                                                                                                                                         Start tab pane boxes
                                                                                                                                                                                                                          -----------------------------------*/
.container-resume .resume-tabcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-resume #experiense .row-main,
.container-resume #education .row-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-resume #experiense .row,
.container-resume #education .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0;
}

.container-resume #experiense .row .card-part,
.container-resume #education .row .card-part {
  margin: 0 100px 0 0;
}

.container-resume #experiense .row .box,
.container-resume #education .row .box {
  width: 256px;
  height: 154px;
  border: 2px solid #ffa700;
}

.container-resume #experiense .row .box .card-icon,
.container-resume #education .row .box .card-icon {
  position: relative;
}

.container-resume #experiense .row .box .card-icon .icon,
.container-resume #education .row .box .card-icon .icon {
  background: #ffb220;
  position: absolute;
  top: -26px;
  left: 100px;
  right: none;
  width: 56px;
  height: 56px;
  border-radius: 10px;
}

.container-resume #experiense .row .box .card-icon .icon i,
.container-resume #education .row .box .card-icon .icon i {
  margin: 18px 0;
  font-size: 1.5rem;
  color: #fff;
}

.container-resume #experiense .row .box .card-text,
.container-resume #education .row .box .card-text {
  margin: 60px 0;
}

#experiense .text-part,
#education .text-part {
  width: 40%;
  text-align: justify;
}

#experiense .text-part .head-info,
#education .text-part .head-info {
  margin-bottom: 20px;
  line-height: 1.3;
}

#experiense .text-part .head-info p,
#education .text-part .head-info p {
  font-size: 1.5rem;
  font-weight: normal;
  color: #1b1b1b;
  text-transform: capitalize;
}

#experiense .text-part .head-info span,
#education .text-part .head-info span {
  font-style: italic;
  font-size: 0.76rem;
  font-weight: 100;
  color: black;
  text-transform: capitalize;
}

#experiense .text-part .main-info p,
#education .text-part .main-info p {
  font-size: 0.875rem;
  line-height: 1.8;
  color: #414141;
}

/* ---------------------------------
                                                                                                                                                                                                                    End tab pane boxes
                                                                                                                                                                                                               -----------------------------------*/
/* ---------------------------------
                                                                                                                                                                                                                 End Resume part 
                                                                                                                                                                                                                 -----------------------------------*/
/* ---------------------------------
                                                                                                                                                                                                                  start client slider
                                                                                                                                                                                                                 -----------------------------------*/
.container-client-slider {
  max-width: 1230px;
  margin: 0 auto;
  text-align: center;
}

.container-client-slider .client-head {
  padding: 5rem 0;
}

.container-client-slider .client-head h1 {
  font-style: italic;
  line-height: 1.5;
  font-size: 3rem;
  font-weight: bold;
  color: #1d1c1c;
  text-transform: capitalize;
}

.container-client-slider .client-head span {
  font-size: 0.875rem;
  font-weight: normal;
  color: #a48c8b;
  text-transform: capitalize;
}

@media screen and (max-width: 576.9px) {
  .container-client-slider .client-head h1 {
    font-size: 2rem;
  }
}

.container-client-slider {
  padding-bottom: 5rem;
}

.container-client-slider .row-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4rem;
}

.container-client-slider .row-slide .text-part {
  width: 55%;
  display: inline;
  text-align: right;
}

.container-client-slider .row-slide .text-part p {
  font-size: 1rem;
  font-weight: 400;
  color: #3e3d3d;
  text-transform: capitalize;
  line-height: 1.8;
  font-style: italic;
}

.container-client-slider .row-slide .text-part p i {
  font-size: 2.5rem;
  color: #d6d6d6;
  position: absolute;
  top: 77px;
  padding: 0 10px;
}

.container-client-slider .image-part {
  margin: 0 114px;
}

.container-client-slider .row-author .author-name p {
  color: #ffa700;
  font-size: 1.2rem;
}

.container-client-slider .row-author {
  margin: 3rem 0 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-client-slider .row-author p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffa700;
  text-transform: capitalize;
  font-style: italic;
}

.container-client-slider .row-author span {
  font-size: 0.9rem;
  font-weight: 100;
  color: #666363;
  text-transform: capitalize;
}

.container-client-slider .row-author i {
  color: #ffa700;
}

.container-client-slider .image-part {
  position: relative;
}

.container-client-slider .image-part .client-image {
  position: relative;
}

.container-client-slider .image-part .client-image .top-image {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 249px solid #ffa700;
  border-right: 244px solid transparent;
  bottom: 1px;
  opacity: 0.8;
}

.container-client-slider .image-part .backpart {
  width: 105%;
  height: 92%;
  position: absolute;
  top: 94px;
  left: none;
  right: -67px;
  background: transparent;
  border-right: 57px solid #fa3587fa;
  border-bottom: 58px solid #fa3587fa;
}

.container-client-slider .image-part .backpart .shadow {
  position: absolute;
  top: -30px;
  right: -51px;
  background: #ffff;
  width: 53px;
  height: 32px;
  -webkit-box-shadow: 0px 20px 16px 20px #fff;
          box-shadow: 0px 20px 16px 20px #fff;
}

/* ---------------------------------
                                                                                                                                                                                                                  start client slider button
                                                                                                                                                                                                                 -----------------------------------*/
.container-client-slider .owl-nav {
  position: absolute;
  top: none;
  left: 0;
  right: -35px;
  bottom: 100px;
}

.container-client-slider .owl-nav button.owl-prev,
.container-client-slider .owl-nav button.owl-next {
  width: 20px;
  height: 20px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  text-transform: normal;
  background: darkslategray;
  border-radius: 50%;
  margin: 0 7px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.container-client-slider .owl-nav button.owl-prev:hover,
.container-client-slider .owl-nav button.owl-next:hover {
  background-color: #ffa700;
  color: black;
}

/* ---------------------------------
                                                                                                                                                                                                                  finish client slider buttons
                                                                                                                                                                                                                 -----------------------------------*/
/* ---------------------------------
                                                                                                                                                                                                                  finish client slider
                                                                                                                                                                                                                 -----------------------------------*/
/* ---------------------------------
                                                                                                                                                                                                                  Start news part
                                                                                                                                                                                                                 -----------------------------------*/
.container-news-part {
  max-width: 1141px;
  margin: 0 auto;
  text-align: center;
}

.container-news-part .news-head {
  padding-bottom: 5rem;
}

.container-news-part .news-head h1 {
  font-style: italic;
  line-height: 1.5;
  font-size: 3rem;
  font-weight: bold;
  color: #1d1c1c;
  text-transform: capitalize;
}

.container-news-part .news-head span {
  font-size: 0.875rem;
  font-weight: normal;
  color: #a48c8b;
  text-transform: capitalize;
}

@media screen and (max-width: 576.9px) {
  .container-news-part .news-head h1 {
    font-size: 2rem;
  }
}

.container-news-part .row-new-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ---------------------------------
                                                                                                                                                                                                                  Start news part text part
                                                                                                                                                                                                                 -----------------------------------*/
.row-new-main .row-news-left-side,
.row-new-main .row-news-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px 0;
}

.row-new-main .row-news-left-side .text-part,
.row-new-main .row-news-right-side .text-part {
  width: 44%;
}

.row-new-main .row-news-left-side .text-part .news-information,
.row-new-main .row-news-right-side .text-part .news-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-information a {
  text-decoration: none;
  line-height: 2;
}

.news-information a h3 {
  color: black;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.news-information a span {
  color: #a0a0a0;
  font-size: 0.875rem;
  letter-spacing: 1px;
}

.row-news-right-side .text-part,
.row-news-left-side .text-part {
  width: 44%;
  height: 327px;
  /* margin-top: 120px; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row-news-right-side .text-part .date-news,
.row-news-left-side .text-part .date-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -84px 0 0;
  z-index: 1;
}

.row-news-right-side .text-part .date-news .num,
.row-news-left-side .text-part .date-news .num {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 2rem;
  font-weight: bold;
  color: #ffa700;
  text-transform: normal;
}

.row-news-right-side .text-part .date-news .date,
.row-news-left-side .text-part .date-news .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -10px 0;
  padding: 0 0 0 14px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #605b5b;
  text-transform: capitalize;
}

.row-news-right-side .text-part {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row-news-right-side .text-part .date-news {
  margin: 0 0 0 -86px;
}

.row-news-right-side .text-part .date-news .num {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.container-news-part .view-button {
  padding: 2.5rem 0 6rem 0;
}

.container-news-part .view-button .view-btn {
  background: #ffa700;
  padding: 0.875rem 2.4rem;
  border-radius: 44px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: normal;
  color: #ffff;
  text-transform: capitalize;
}

.container-news-part .view-button .view-btn::before {
  content: "";
  position: absolute;
  top: -55px;
  left: 0;
  right: none;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
}

.container-news-part .view-button .view-btn:hover::before, .container-news-part .view-button .view-btn:focus::before {
  top: 0;
  color: #fff;
}

.container-news-part .view-button .view-btn i {
  margin-left: 5px;
}

/* ---------------------------------
                                                                                                                                                                                                                  finish news part text part
                                                                                                                                                                                                                 -----------------------------------*/
/* ---------------------------------
                                                                                                                                                                                                                  finish news part
                                                                                                                                                                                                                 -----------------------------------*/
/* ---------------------------------
                                                                                                                                                                                                                  Start form part
                                                                                                                                                                                                                 -----------------------------------*/
.container-form {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.container-form .form-head {
  padding-bottom: 4rem;
}

.container-form .form-head h1 {
  font-style: italic;
  line-height: 1.5;
  font-size: 3rem;
  font-weight: bold;
  color: #1d1c1c;
  text-transform: capitalize;
}

.container-form .form-head span {
  font-size: 0.875rem;
  font-weight: normal;
  color: #a48c8b;
  text-transform: capitalize;
}

@media screen and (max-width: 576.9px) {
  .container-form .form-head h1 {
    font-size: 2rem;
  }
}

form .row-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form .row-form input {
  padding: 1.3rem 1rem;
  width: 48%;
  margin-bottom: 13px;
  background: #f8f8f8;
  border: none;
  outline: none;
}

form .massege-area {
  padding: 1.3rem 1rem;
  background: #f8f8f8;
  border: none;
  outline: none;
}

form .send-button {
  padding: 3rem 0 5rem 0;
}

form .send-button .btn-send {
  background: #ffa700;
  padding: 0.875rem 2.4rem;
  border-radius: 44px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: normal;
  color: #ffff;
  text-transform: capitalize;
}

form .send-button .btn-send::before {
  content: "";
  position: absolute;
  top: -55px;
  left: 0;
  right: none;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
}

form .send-button .btn-send:hover::before, form .send-button .btn-send:focus::before {
  top: 0;
  color: #fff;
}

form .send-button .btn-send i {
  margin-left: 5px;
}

/* ---------------------------------
                                                                                                                                                                                                                              Finish form part
                                                                                                                                                                                                                           -----------------------------------*/
button#Btnscroll {
  position: fixed;
  right: 10px;
  bottom: 7px;
  z-index: 99;
  width: 50px;
  height: 50px;
  background: #ffa700;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */