@import "mixins";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
// global styles
ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  background: $yellow;
  padding: 0.875rem 2.4rem;
  border-radius: 44px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  cursor: pointer;
  @include textFormat(1rem, $white, capitalize);
  &::before {
    content: "";
    @include position(absolute, $top: -50px, $left: 0);
    @include size(100%, 100%);
    z-index: -1;
    background-color: $black;
    transition: 0.5s;
    color: $white;
  }
}
.button {
  &:hover::before,
  &:focus::before {
    top: 0;
    color: $white;
  }
  i.fa-arrow-right {
    margin-left: 5px;
  }
}
.section-header {
  text-align: center;
  line-height: 1.3;
  padding-bottom: 30px;
  font-style: italic;
  .section-title {
    @include textFormat(
      $fontSize: 48px,
      $color: #030303,
      $transform: capitalize
    );
    font-style: italic;
  }
  .section-subtitle {
    @include textFormat(
      $fontSize: 0.875rem,
      $color: #988181,
      $transform: capitalize
    );
  }
}
.modal-overlay {
  @include position(fixed, $top: 0, $left: 0, $right: 0);
  @include size(100%, 100%);
  background-color: rgb(3 3 3 / 54%);
  z-index: 3;
  display: none;
  &.active {
    display: block;
  }
}
#modalContainer {
  @include position(fixed, $top: 50%, $left: 50%);
  transform: translate(-50%, -50%) scale(0);
  z-index: 4;
  transition: all 0.5s;
  img {
    width: 100%;
  }
  &.active {
    transform: translate(-50%, -50%) scale(1);
  }
  #close-modal-btn {
    @include position(absolute, $top: -31px, $left: -3px);
    @include textFormat(1.55rem, $color: $white, $cursor: pointer);
    background: $yellow;
    border-radius: 3px;
    padding: 0px 5px;
    margin: 0 3px;
  }
}

/* ---------------------------------
  header section
 -----------------------------------*/

header {
  transition: all 0.5s;
  @include position(fixed, $top: 0, $right: 0, $left: 0);
  z-index: 2;
  nav {
    @include flex($wrap: wrap, $justify: space-around, $align: center);
    padding: 30px 0;
  }
}

header.sticky {
  background-color: $white;
  box-shadow: 12px 2px 19px #7a7a7a;
  nav {
    padding: 10px 0;
  }
}

.icons-list {
  @include flex($gap: 25px);
  padding: 8px;
  .icons-list-item {
    position: relative;
    @include textFormat($fontSize: 1rem, $color: $black, $cursor: pointer);
    &:hover i {
      color: $yellow;
      transition: all 0.4s ease;
    }
  }
}

.icons-list span.follow-text {
  @include textFormat($fontSize: 1rem, $transform: capitalize);
}
.hamburger-menu {
  @include textFormat($fontSize: 24px, $cursor: pointer);
}

/* ---------------------------------
  sideBar section
 -----------------------------------*/

.side-bar {
  @include position(fixed, $right: -225px, $top: 0, $bottom: 0);
  @include size(225px, 100%);
  box-shadow: -3px 1px 9px gray;
  background-color: $white;
  transition: all 0.5s;
  z-index: 3;
  overflow-x: hidden;
  .close-sidebar-btn {
    @include textFormat($fontSize: 2rem, $color: $black, $cursor: pointer);
    @include position(absolute, $top: 0, $left: 12px);
  }
  &.active {
    right: 0;
  }
}
.side-bar-list {
  @include flex($direction: column, $align: center);
  margin-top: 32px;
  text-align: center;
  .side-bar-item {
    cursor: pointer;
    padding: 12px 0;
  }
}

.dropdown-list {
  display: none;
  &.active {
    display: block;
  }
}
.dropdown-item {
  @include textFormat(
    $fontSize: 12px,
    $color: gray,
    $transform: capitalize,
    $cursor: pointer
  );
  padding: 5px 0;
  &:hover {
    color: $black;
  }
}

/* ---------------------------------
 banner section
  ----------------------------------*/

.banner {
  @include size(100%, 100vh);
  @include grid($column: repeat(2, 1fr), $rows: repeat(3, 1fr));
  justify-items: center;
  align-items: flex-end;
  overflow: hidden;
  .banner-image {
    @include size(100%, 100%);
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    img {
      @include size(100%, 100%);
    }
  }
}
.banner .row {
  grid-column: 1;
  grid-row: 2 / 3;
}

.banner-text .type-writer-text {
  @include textFormat($fontSize: 3rem, $color: $black);
  span {
    text-transform: capitalize;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 3px;
      height: 100%;
      right: -10px;
      background-color: $black;
      animation: type 0.5s linear infinite;
    }
  }
}
.banner-text {
  .sub-main-text {
    @include textFormat(
      $fontSize: 13px,
      $color: #454545,
      $transform: capitalize
    );
  }
}
@keyframes type {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ---------------------------------
  information part
  -----------------------------------*/

.aboutMe-section {
  margin: 70px auto;
  .row {
    @include flex($align: center);
    .image-part {
      width: 50%;
      img {
        width: 100%;
        max-width: 460px;
        margin: auto;
        padding: 0 3rem;
        background: $darkgray;
        border-radius: 50%;
      }
    }
  }
}
.aboutMe-section .text-part {
  width: 50%;
  blockquote {
    @include textFormat($fontSize: 1rem, $color: #434343);
    line-height: 2.5;
    text-align: justify;
  }
  .signature {
    padding: 2rem 0 3rem;
  }
}
.sliderLogo .owl-nav {
  span {
    font-size: 30px;
  }
  .owl-prev {
    @include position(absolute, $top: 50%, $left: -20px);
    transform: translate(8px, -80%);
  }
  .owl-next {
    @include position(absolute, $top: 50%, $right: -20px);
    transform: translate(-8px, -80%);
  }
}

/* ---------------------------------
    personal information
  ----------------------------------*/

.personal-info-section {
  .row {
    @include flex($justify: flex-end, $gap: 10px);
  }
}
.information-list {
  width: 45%;
  .info-list-item {
    padding: 23px 0;
    @include textFormat(16px, $yellow, capitalize);
    font-style: italic;
    span {
      color: $black;
    }
  }
}
.abilities {
  width: 45%;
  .progress-bar {
    @include size(100%, 8px);
    background-color: #e8e8e8;
    position: relative;
    margin: 1rem 0 4rem 0;
    &::after {
      content: "";
      @include position(absolute, $top: 0, $right: 0, $left: 0);
      height: 100%;
      background-color: $yellow;
    }
  }
}
.abilities .info-row {
  @include flex($justify: space-between);
}
.progress-bar {
  .info-row {
    display: flex;
    justify-content: space-between;
  }
  &.progress-bar-1::after {
    width: 75%;
  }
  &.progress-bar-2::after {
    width: 80%;
  }
  &.progress-bar-3::after {
    width: 75%;
  }
  &.progress-bar-4::after {
    width: 90%;
  }
}
.download-button {
  text-align: center;
}

/* ---------------------------------
  offer section
 ----------------------------------*/

.offer-container {
  margin-top: 100px;
  background: $darkgray;
  padding: 5rem 0;
  min-height: 600px;
  width: 100%;
  .row-card {
    @include flex($justify: center, $align: center);
    .owl-stage {
      padding-top: 50px;
    }
  }
}
.row-card .card {
  width: 100%;
  min-height: 240px;
  background-color: $white;
  padding: 20px;
  line-height: 2;
  @include flex($direction: column, $justify: center, $gap: 10px);
}
.row-card .card-icon {
  @include size(70px, 70px);
  @include position(absolute, $top: -30px, $right: 0, $left: 0);
  border-radius: 50%;
  background: $white;
  margin: auto;
  transition: all 0.3s;
  .icon {
    @include flex($align: center, $justify: center);
    font-size: 24px;
    height: 100%;
  }
}
.row-card .card {
  .card-header {
    transition: all 0.3s;
    @include textFormat(1.1rem, #616161, capitalize);
  }
  .card-body {
    @include textFormat(0.85rem, #272727, capitalize);
  }
}
.row-card .card:hover {
  .card-header {
    color: $yellow;
  }
  .card-icon {
    background-color: $yellow;
    color: $white;
  }
}
.row-card .owl-nav {
  position: absolute;
  bottom: -50px;
  @include flex($gap: 5px);
  button span {
    @include size(30px, 30px);
    @include textFormat(1.2rem, $white);
    @include flex($align: center, $justify: center);
    background: $black;
    border-radius: 50%;
    transition: all 0.2s;
    &:hover {
      background-color: $yellow;
    }
  }
}

/* -------------------------------   
gallery part                                                                                                           start  gallery section
-----------------------------------*/
.gallery-container {
  padding: 6rem 0;
  .gallery-pictures.show {
    display: block !important;
    animation: zoom 0.5s ease-in;
  }
  .gallery-pictures.hide {
    display: none;
  }
}
.gallery-container .tabpane-list {
  margin: 30px 0 10px;
  @include flex($align: center);
  overflow: auto;
  .tabpane-list-item {
    @include textFormat(1.2rem, #272727, capitalize, $cursor: pointer);
    padding: 1rem;
    font-style: italic;
    &.active {
      background: $yellow;
      padding: 12px;
      border-radius: 5px;
      color: $white;
    }
  }
}
.gallery-container .view-button {
  text-align: center;
  margin-top: 30px;
}
.gallery-pictures-wrapper {
  @include grid($column: repeat(2, 1fr), $gap: 20px);
  .gallery-pictures {
    padding: 10px 0;
    .pictures {
      cursor: pointer;
      width: 100%;
      object-fit: fill;
    }
  }
}
@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* ---------------------------------
   work together
-----------------------------------*/

.cooperate-wrraper {
  background-color: $darkgray;
  .row {
    height: 420px;
    @include flex($direction: column, $justify: center, $align: center);
    span {
      @include textFormat(14px, $spancolor, capitalize);
      letter-spacing: 2px;
      font-style: italic;
    }
    .section-header {
      line-height: 2;
    }
  }
}

/* ---------------------------------
  Resume part
-----------------------------------*/

.container-resume {
  margin-top: 64px;
}
.resume-tabpane-list {
  @include flex($justify: center);
  margin-top: 30px;
  .resume-tabpane-list-item {
    background: #e6e3e3bf;
    border-radius: 50px;
    padding: 18px;
    width: 100%;
    max-width: 181px;
    text-align: center;
    cursor: pointer;
  }
}
.resume-tabpane-list-item {
  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &.active {
    background-color: $yellow;
    color: $white;
  }
}
.resume-content {
  display: none;
  margin-top: 60px;
  &.active {
    display: block;
    animation: tab 0.5s;
  }
}

@keyframes tab {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.resume-card {
  @include grid($column: 25% 45%, $gap: 50px);
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
  .date-box {
    @include flex($justify: center, $align: center);
    @include size(100%, 160px);
    position: relative;
    border: 2px solid $yellow;
    .card-icon {
      @include position(absolute, $top: -29px);
      @include textFormat(24px, $white);
      @include flex($justify: center, $align: center);
      @include size(50px, 50px);
      background: $yellow;
      padding: 5px 0;
      border-radius: 5px;
      text-align: center;
    }
  }
}
.resume-infos {
  .job-title > h3 {
    @include textFormat(24px, #1b1b1b, $transform: capitalize);
    font-weight: normal;
  }
  .job-title > span {
    @include textFormat(12px, #000000ad, $transform: capitalize);
    font-style: italic;
  }
  .job-description {
    @include textFormat(14px, #414141);
    margin-top: 25px;
    line-height: 1.8;
    text-align: justify;
  }
}

/* ---------------------------------
   client slider
-----------------------------------*/

.container-client-slider {
  text-align: center;
  padding: 5rem 0;
}
.client-slide {
  @include flex($justify: center, $align: center, $gap: 30px);
  min-height: 450px;
  .text-part {
    width: 55%;
    line-height: 2;
    padding: 14px;
    text-align: end;
    p {
      @include textFormat(16px, #3e3d3d, $transform: capitalize);
      font-style: italic;
    }
  }
}
.client-slide .testimonial {
  @include flex($justify: space-between, $align: center);
  margin-top: 50px;
  .authur-name {
    @include textFormat(21px, $yellow);
    font-weight: 100;
  }
  .authur-job {
    @include textFormat(14px, #666363, $transform: capitalize);
  }
}
.client-slide {
  .fa-star {
    color: $yellow;
  }
}

.client-image {
  position: relative;
  &::before {
    content: "";
    @include position(absolute, $left: 0, $bottom: 0);
    opacity: 0.8;
    border-left: 280px solid $yellow;
    border-top: 280px solid transparent;
  }
  &::after {
    content: "";
    @include size(80%, 74%);
    @include position(absolute, $bottom: -42px, $right: -50px);
    border-right: 48px solid rgba(250, 53, 135, 0.9803921569);
    border-bottom: 40px solid rgba(250, 53, 135, 0.9803921569);
    z-index: -1;
  }
}

/* ---------------------------------
   Start news part
  -----------------------------------*/

.container-news-part {
  .row-news {
    @include grid(
      $column: repeat(2, 1fr),
      $rows: repeat(3, max-content),
      $gap: 20px
    );

    .news-item {
      position: relative;
      grid-column: 1 / 3;
      width: 100%;
      @include flex($align: flex-end, $gap: 30px);
    }
  }
}

.news-item {
  &:nth-child(2) {
    grid-row: 2 / 3;
    flex-direction: row-reverse;
    .news-publish-date {
      left: 49%;
      flex-direction: row-reverse;
    }
  }
  &:nth-child(3) {
    grid-row: 3/4;
  }
}
.news-item {
  .text-part {
    @include grid($rows: repeat(2, 1fr));
    @include size(50%, 100%);
    line-height: 1.8;
    align-items: center;
  }
  .image-part {
    width: 50%;
    img {
      width: 100%;
    }
  }
}
.news-information {
  grid-row: 2;
  .news-title {
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  .news-subtitle {
    @include textFormat(14px, #a0a0a0);
    letter-spacing: 1px;
  }
}

.news-publish-date {
  @include position(absolute, $top: 30%, $left: 51%);
  @include flex($gap: 3px);
  transform: translate(-51%, -30%);
  text-align: center;
  .date-info {
    @include textFormat($color: #605b5b, $transform: capitalize);
  }
  .date-day {
    @include textFormat(30px, $yellow);
    font-weight: bold;
  }
}
.view-button {
  margin-top: 50px;
  text-align: center;
}

/* ---------------------------------
    form part
 -----------------------------------*/

.container-form {
  text-align: center;
  margin-top: 4rem;
  .section-header {
    padding-bottom: 2rem;
  }
  .send-button {
    margin-top: 30px;
  }
}

form {
  @include grid($column: repeat(2, 1fr), $gap: 10px);
  .form-input {
    padding: 16px;
    min-height: 55px;
    width: 100%;
    background: #f4f4f4;
    border: none;
    outline: none;
  }
  .message-textarea {
    grid-column: 1 / 3;
    height: 10rem;
  }
}
/* --------------------------------
  scroll to top button
  --------------------------------*/
#Btnscroll {
  @include position(fixed, $right: 10px, $bottom: 7px);
  @include size(50px, 50px);
  z-index: 99;
  background: $yellow;
  border: none;
  border-radius: 50%;
  @include textFormat(1.2rem, $white, $cursor: pointer);
  opacity: 0;
  transition: all 0.3s;
  &.active {
    opacity: 1;
  }
}
